@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <nav>
            <a href="/">Home</a>
            <a href="/notes">Notes</a>
        </nav>
    </div>


    <div class="main p-4">
        @Body
    </div>
</div>